div.AutocompleteArea {
	background-color: #f8f8f8;
	text-align: left;
}

div.AutocompleteArea.container {
	position: absolute;
	z-index: 1;
	padding-left: 0.1em;
	max-height: 10em;
	height: 10em;
	overflow: scroll;
}

div.AutocompleteArea.option {
	cursor: pointer;
}

div.AutocompleteArea.option.hovered {
	background-color: LightGrey;
}

div.AutocompleteArea.option.unhovered {
}

div.SearchResult {
}

div.SearchResult:hover {
	background-color: LightGrey;
	cursor: pointer;
}

@media only screen and (min-width: 1921px) {
	div#SearchContainer {
		height: 35em;
		resize: vertical;
		overflow: hidden;
		margin-bottom: 2%;
		padding-bottom: 2em;
	}

	div.ScrollField {
		height: 30em;
		resize: none;
	}
}
