body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    color: #030303;
}

input {
    background-color: #f8f8f8;
    color: #030303;
}

button {
	border: #030303 solid thin;
    background-color: #f8f8f8;
    color: #030303;
}

button:hover {
	cursor: pointer;
	background-color: LightGrey;
    color: #030303;
}

.border {
	border: #030303 solid thin;
}

.HorizontalCenter {
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
}

.ScrollField {
	height: 20em;
	overflow: scroll;
	resize: vertical;
}

p#DbLoadStatus {
	display: inline-block;
}
