h1 {
	text-align: center;
}

section {
	display: block;
	margin-bottom: 2%;
	white-space: nowrap;
	padding: 0.25em;
}

input {
	color: black;
	background-color: white;
}

button {
	color: black;
	border: black solid thin;
	background-color: white;
}

button:hover {
	cursor: pointer;
	background-color: LightGrey;
}

.border {
	border: black solid thin;
}

.HorizontalCenter {
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
}

.ScrollField {
	height: 20em;
	max-height: 20em;
	overflow: scroll;
	resize: vertical;
}

section#PageControls > button {
	font-size: large;
}

section#ErrorField {
	font-family: monospace, courier;
	display: none;
}

section#SearchField {
}

section#SearchResults {
}

section#StoryArea {
	white-space: normal;
}

div.AutocompleteArea {
	cursor: pointer;
}

div.AutocompleteArea.hovered {
	background-color: LightGrey;
}

div.AutocompleteArea.unhovered {
}

div.SearchResult {
}

div.SearchResult:hover {
	background-color: LightGrey;
	cursor: pointer;
}

div.SearchResult.selected {
	background-color: DarkGrey;
}

div.SearchResult.selected:hover {
	background-color: grey;
}
