section {
	display: block;
	margin-bottom: 2%;
	white-space: nowrap;
	padding: 0.25em;
}

section.ResponsiveSection {
	display: block;
}

section.ResponsiveSection.left {
}

section.ResponsiveSection.right {
}

@media only screen and (min-width: 1921px) {
	section.ResponsiveSection.left {
		float: left;
	}

	section.ResponsiveSection.right {
		float: right;
	}
}

section#PageControls > button {
	font-size: large;
}

section#SearchFields {
}

section#SearchResults {
	white-space: initial;
}

section#StoryArea {
	white-space: normal;
	clear: both;
}
